{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Car Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper orange lighten-2">
        <ul>
          <li><a href="/" class="brand-logo right"><span class="red-text"><b>&nbsp;&nbsp;Car Collector</b></span></a></li>
        </ul>
        <ul class="left">
          <li><a href="{% url 'about' %}"><span class="red-text"><b>About</b></span></a></li>
          <li><a href="{% url 'cars_create' %}"><span class="red-text"><b>Add Car</b></span></a></li>
          <li><a href="{% url 'index' %}"><span class="red-text"><b>View All My Cars</b></span></a></li>  
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer orange lighten-2">
    <div class="right"><span class="red-text"><b>All Rights Reserved, &copy; 2021 Car Collector &nbsp;</b></span></div>
  </footer>
</body>
</html>